// declare color variables here
$black:        #000000;
$dark-grey:    #4F4C43; //rgb(79,76,67)
$dark-grey-opacity:    rgba(79,76,67,.6);
$grey:         #A9A9A9; //rgb(180,95,26)
$light-grey:   #d9d9d9;
$lighter-grey: #F7F7F7;
$grey-100: #717171;
$grey-200: #858585;
$white:        #ffffff;
$gold:         #B45F1A;
$dark-gold:    #48260A;
$orange:       #b65f07;

// secondary color
$grey-keyline:rgba(0,0,0,0.6); // – Keyline
$grey-blue:   #5B6770; //RGB: 91 103 112 – Accordion category background
$grey-brown:  #48260A; //RGB:72 38 10 – Rollover keyline – Text link rollover
$grey-maroon: #7A1318; //RGB:122 19 24 //Error message

// Background color
$bg-lightest-grey: #F7F7F7;
$bg-light-grey:    #EDEDED;
$bg-grey:          #E0E0E0;